
<label for="name">
	<f:translate key="tx_y7fahrzeugdatenbank_domain_model_fahrzeug.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="beschreibung">
	<f:translate key="tx_y7fahrzeugdatenbank_domain_model_fahrzeug.beschreibung" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="beschreibung" cols="40" rows="15" /><br />
<label for="bild">
	<f:translate key="tx_y7fahrzeugdatenbank_domain_model_fahrzeug.bild" /> <span class="required">(required)</span>
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="datenblatt">
	<f:translate key="tx_y7fahrzeugdatenbank_domain_model_fahrzeug.datenblatt" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />