
<table class="tx-y7-fahrzeugdatenbank" >
	<tr>
		<td>
			<f:translate key="tx_y7fahrzeugdatenbank_domain_model_fahrzeug.name" />
		</td>
		<td>
			{fahrzeug.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_y7fahrzeugdatenbank_domain_model_fahrzeug.beschreibung" />
		</td>
		<td>
			{fahrzeug.beschreibung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_y7fahrzeugdatenbank_domain_model_fahrzeug.bild" />
		</td>
		<td>
			{fahrzeug.bild.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_y7fahrzeugdatenbank_domain_model_fahrzeug.datenblatt" />
		</td>
		<td>
			{fahrzeug.datenblatt.originalResource.name}
		</td>
	</tr>
</table>