
<div class="tx-y7-fahrzeugdatenbank-parts">
	<f:debug>{fahrzeug}</f:debug>
		<p class="clearfix">
		<f:for each="{fahrzeug.bild}" as="bilder" > 
		<f:debug>{bilder}</f:debug>
			<a href="{bilder.uid}" data-lightbox="fz_db" data-title="{fahrzeug.name}" style="float:right; margin-left:10px;">
			<f:image src="{bilder.originalResource.publicUrl}" width="270" />
			</a>
			{fahrzeug.beschreibung}<br/>
    	</f:for>
    	</p>
    <div class="datenblatt"><a href="{fahrzeug.datenblatt.originalResource.publicUrl}" target="_blank">Datenblatt</a></div>
</div>